[submodule "lib/3rd-party/system_fonts"]
	path = lib/3rd-party/system_fonts
	url = ssh://git@gl.min123.com:58022/john/flutter_pkg_fork_system_fonts.git
[submodule "lib/3rd-party/posh_flutter_components"]
	path = lib/3rd-party/posh_flutter_components
	url = ssh://git@gl.min123.com:58022/john/posh_flutter_components.git
[submodule "lib/3rd-party/posh_voice_input"]
	path = lib/3rd-party/posh_voice_input
	url = ssh://git@gl.min123.com:58022/john/posh_voice_input.git
